*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.title{
    padding: 1rem;
}

.todo-list{
    padding: 1rem;
    font-size: 1.25rem;
}

.todo.completed{
    color: #494;
}

.todo.toComplete{
    color: #944
}

li span{
    font-weight: bold;
    margin-left: 0.5rem;
    cursor: pointer;
}

form{
    padding: 1rem;
}